<div class="error">
    <% if model.errors.any? %>
      <% if model.errors.count == 1 %>
        <h3><%= model.errors.count  %> エラー</h3>
      <% else %>
        <h3><%= model.errors.count  %> エラー</h3>
      <% end %>
      <% model.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    <% end %>
</div>