<div class="container mt-6">
  <%= render 'dogs/error', model: @newdog %>
  <div class="row">
    <div class="col-md-10">
      <%= render 'dogs/form', dog: @newdog %>
    </div>
    
    <%= render 'dogs/dogs',dogs: @dogs %>
      

  </div>  
</div>