<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <%= render 'dogs/error', model: @newdog %>
      <%= render 'dogs/form', dog: @newdog %>
      
    </div>
    
    
    <div class="col-md-12">
      <%= render 'dogs/dogs',dogs: @dogs %>
    </div>
  </div>
</div>