<h2>インザグリーン</h2>
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 400px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.050932, lng:135.764361},
    zoom: 18,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.050932, lng:135.764361},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN7mnEkGpm_3LGZLG8cK9ZG8FBwZ83xyE&callback=initMap" async defer></script>