    <div id="container1">
      <div id="theTarget">
        <div class="image1">
            <h1 class="top-text">DogTokへようこそ！</h1>
        </div>
        <div class="image2">
            <h1 class="top-text">ここではあなたのワンちゃんを自慢しましょう！</h1>
        </div>
        <div class="image3">
            <h1 class="top-text">まずはワンちゃんについて投稿してみましょう！</h1>
        </div>
        <div class="image4">
            <h1 class="top-text">気になる飼い主さんがいればフォローしましょう！</h1>
        </div>
        <div class="image5">
            <h1 class="top-text">フォロワー同士でチャットをすることができます！</h1>
        </div>
      </div>
    </div>

