/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
font-family: 'Kosugi Maru', sans-serif;
line-height:25px;
font-size:0.95em;
}

.link{
  color:rgb(50,255,255);
}

.input{
  line-height: 0.8;
}


//topページ//

.background1{
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: cover;
  text-align: center;
}

#container1{
  background-size: cover;
  height: 630px;
}

.top-text{
  padding-top: 50px;
  text-align:center;
  color: rgba(175,238,238,1.0);
  font-family: "Nico Moji";
}




.top-text2{
  font-family: 'Corben', cursive;
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
  color: rgba( 0,0,105, 0.9);
}

d-grid gap2{
  font-size: 5em;
}

.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
}


//topページ//


//犬一覧//

.dog-title{
  color: rgb(100,255,255);
}

p{
  margin-top:20px;
  margin-bottom:20px;
  color: rgb(160,160,192);
}

.your-submit{
  text-align:center;
  color : rgb(100,260,260);
}

//犬一覧//

.attachment{
  border-radius: 40%;
}

//犬一覧

//いいねボタン
.like-btn{
  color: red;
}

.unlike-btn{
  color: #808080;
}
//いいねボタン

//犬詳細

.link1{
  color:rgb(160,160,160);
}
//犬詳細