// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.background1{
  background-image: image-url('dog.jpg');
  height:900px;
  background-position:center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: cover;
  text-align: center;
}

.top-text{
  font-family: 'Corben', cursive;
  padding-top: 50px;
  text-align:center;
  color:blue;
}

.top-text2{
  font-family: 'Corben', cursive;
  padding-top:50px;
  padding-bottom:50px;
}

d-grid gap2{
  font-size: 5em;
}
