// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.background{
  background-image: image-url('dog.jpg');
  height:600px;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: cover;
  text-align: center;
}

h1{
  padding-top: 50px;
  text-align:center;
  color:blue;
}

h2{
  padding-top:50px;
  text-align:center;
  padding-bottom:50px;
}

d-grid gap2{
  font-size: 5em;
}

p{
  margin:auto 50;
}